
.oreopic {
    left: 50px;
    top:10;
    width:500;
    height: 500%;
    z-index:-30 ;
}
.title {
    background-image:
    text-align: center ;
    color:darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 100px;
}
.oreorecipe {
    text-align: center;
}