h1 {
    display: flex;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:175px; 
    justify-content: center; 
    margin-top: 70px;
    margin-bottom: 50px;  
}
html {
    background-color: rgb(174, 194 , 198);
}
ul {
    list-style-type: none;
}
.navbar div {
   display: flex;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    justify-content: center;
  
     
}
.navbar {
    display: flex; 
    justify-content: space-evenly
    
}






    
.navbar div:hover {
    background-color: rgba(244, 128, 86, 0.705);

}

a:visited {
    text-decoration: none;
    color: black; 
}
a:link {
    text-decoration:none; 
}
